.dis {
    display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(0, 0, 0);
}

.dis:hover {background-color: #3e8e41}

.dis:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }